<ion-header>
  <ion-toolbar>
    <ion-title>
      Neue Aufgabe
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="close-circle" hideWhen="ios"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Vorhaben</ion-label>
    <ion-select [(ngModel)]="vorhaben">
        <ion-option *ngFor="let task of tasks" [value]="task">{{task.name}}</ion-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-item >
    <ion-label floating>Name der Aufgabe</ion-label>
    <ion-input type="text" [(ngModel)]="taskName" name="taskName"></ion-input>
  </ion-item >

  <br>
  <ion-item>
    <ion-label color="primary" floating="">Beschreibung</ion-label>
    <ion-input type="text" placeholder="Beschreibung des Vorgangs" [(ngModel)]="beschreibung"></ion-input>
  </ion-item>
  <br>


  <ion-item>
    <ion-label>Zu erledigen bis:</ion-label>
    <ion-datetime displayFormat="DD MMM YYYY" name="dueTime" min="2016" max="2020" [(ngModel)]="dueDate" ></ion-datetime>
  </ion-item>

  <br><br>

    <span><h3>Beteiligte Personen:</h3></span>

  <button ion-item *ngFor="let person of selectedPersons" (click)="changeRACI(person)">
    <ion-avatar item-left>
      <img src="{{person.image}}">
    </ion-avatar>
    <ion-label>{{person.username}}</ion-label>
    <ion-note item-right>{{person.taskStatus}}</ion-note>

  </button>

  <button ion-button block outline icon-right (click)="openPersonSelector()">Beteiligte Personen hinzufügen<ion-icon name="arrow-forward"> </ion-icon></button>

  <br><br>
  <br><br>
  <button ion-button full color="secondary" (click)="saveTask()">Speichern</button>

</ion-content>
